main{
    font-family:Arial, Helvetica, sans-serif;
}
.header{
    background-color: #264653;
}


.link a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
   
   
}
.link a:hover{
    cursor: pointer;
    color: white
}
.login{
    background-color: #E76F51;
    color: white;
    border-radius: 2px;
   
   
}

.purchaseBtn{
    background-color: #E76F51;
    color: white;
    padding: 5px 25px;
    cursor: pointer;
    border: 0px solid #E76F51;
    border-radius: 3px;
}
.clr{
    color:#E76F51
}
.txtClr{
    color: #6C6C6C;
}
.gray{
    filter: grayscale(100%);
}
.downloadBtn{
    text-decoration: none;
    border: 1px solid #E76F51;
    color: #E76F51;
    font-weight: bold;
    padding: 5px 25px;
    background-color: whitesmoke;

}
.downloadBtn:hover{
    cursor:pointer;
    background-color: #E76F51;
    color: white;
}
.cusCard{
    border: 1px solid whitesmoke;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
}
.orderBtn{
    border: 1px solid #E76F51;
    color: #E76F51;
    font-weight: bold;
    padding: 5px 25px;
    margin:15px 15px
}
.orderBtn:hover{
    cursor:pointer;
    background-color: #E76F51;
    color: white;
}
.client{
 margin-top: 130px;
 margin-bottom: 100px;
}
.userCard{
     height: 400px;
     width: 200px;
     border: 1px solid white;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


}
.userImg{
    
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 20px;
}
.footerSection{
    background-color: rgb(16, 15, 15);
}
.footer{
    margin-top: 100px;

    height: 200px;
}
.footerLink a{
    text-decoration: none;
    color:rgb(224, 216, 216);
    padding: 20px;
    font-size: small;
}
.footerLink a:hover{
    color: white;
}